.space{

  background-color: rgb(210, 208, 208);
  padding: 4rem;

}

.items{
  display: flex;
  flex-wrap: wrap;
}

.card{

  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 2rem;
  background-color: white;
  border-radius: 25px;
  margin-left: 10px;
  margin: 10px;

}